body {
  font-family: 'Noto Serif', serif;
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  }

  h1, h3, h4 {
   color: #ff0000; 
  }

  h1 {
    text-align: center;
  }

  .button {
    padding: 1px;
    text-decoration: none;
    color: #ff0000;
  }

  .buttonIndex {
    text-decoration: underline #ff0000;
    color: black;
  }

  #MinhaFoto {
    height: 250px;
    height: 400px;
    border-radius: 50%;
    float: left;
  }

  .imageContainer {
    height: 400px;
    display: inline-block;
  }

  .SobreMim {
    text-align: justify;
    display: inline-block;
    transform: translateY(-60%);
    margin-left: 30px;
  }
  
  #MinhasHabilidades {
    margin-bottom: 1px;
  }

  .softSkills {
    display: inline-block;
    margin-right: 100px;
  }

  .hardSkills {
    display: inline-block;
    transform: translateY(-90%);
  }

  #Contato {
    margin-top: 30px;
  }

  h3 {
    margin-top: 30px;
  }
